name: ci
on:
  pull_request:
  push:
    branches: [ main ]


permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - run: docker login ghcr.io -u USERNAME -p ${{ github.token }}
        name: Authenticate to Github container registry

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/${{ github.repository_owner }}/embedding-models-api:${{ github.ref == 'refs/heads/main' && 'latest' ||  github.sha }}
